body
{
  background-color:rgb(255, 219, 255);
}
h1{
  background-color:rgb(166, 237, 255);
  color:rgb(204, 149, 255);
}
#score
{
  margin-left: 20px;
}

#time
{
  float: right;
  margin-right: 20px;
}
#sketch_name
{
  color : red;
}
canvas{

  border: 5px,rgb(255, 221, 248);
  border-radius: 20px;
  animation-name:example;
  animation-duration: 4s;
  margin-top: 50px;
  animation-iteration-count: infinite;
  height: 280px;
  width: 280px;
}
@keyframes example{
  from{box-shadow: 1px 1px 38px mediumpurple;}
  to{box-shadow: 1px 1px 38px orchid;}
}
p{
  padding-top: 10px;
  font-size: 25px;
}